*.o
*.stackdump
*.dot
/source/parse.tab.c
/source/parse.tab.h
Debug/
Release/
/cnf.dimacs
/conflict.log
/source/lex.yy.c
/result.txt
/.vscode
/fmt/__pychache__/
/solver
__pycache__/
log.txt
MapleLCMDiscChronoBT-DL-v3
MapleLCMDiscChronoBT-DL-v3.zip